{% extends 'base/base.html' %}

{% load static %}
{% block contenido %}
<div class=" p-3 pb-md-4 mx-auto text-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col">
          <div class="card rounded-3 text-black">
                <div class="card-body">
                  <div class="text-center">
                    <img src="{% static 'img/user.png' %}" 
                      style="width: 185px;" alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Recuperar Contraseña</h4>
 
                  </div>
                  {% load i18n %}
                    <div class="breadcrumbs">
                      <a href="{% url 'inicio' %}">{% translate 'Home' %}</a>&rsaquo; {% translate 'Password reset' %}
                    </div>
                    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

                    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

                </div>
       
              

            </div>
          </div>
        </div>
      </div>
  </div>
  
  {% endblock contenido %}    