{% extends 'base/base.html' %}

{% load static %}
{% block contenido %}
{% load i18n %}

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" className="">
  
  <main id="main">
      <section id="menu" class="menu">
          <div class="container">

    <div class=" p-3 pb-md-4 mx-auto text-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col">
          <div class="card rounded-3 text-black">
                <div class="card-body">
                  <div class="text-center">
                    <img src="{% static 'assets/img/logo.png' %} " 
                      style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Recuperar Contraseña" %}{% endif %}</h4>
                  </div>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        <form method="post" > 
                            {% csrf_token %}
                            {{form.as_p}}
  
                            <div class="text-center ">
                            <button class="btn btn-lg btn-outline-success" type="submit" name="btn_ingresar">Recuperar</button>
                            
                            
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                            {% include 'includes/errores_form.html' %}
                            </div>
                    
  
                        </form>
                    {% endif %}
                </div>
       
              

          </div>
        </div>
      </div>
    </div>
</div>
</div>

        </section>
    </main>
  </body>
{% endblock contenido %}    