{% extends 'base/base.html' %}

{% load static %}
{% block contenido %}


<div class=" p-3 pb-md-4 mx-auto text-center">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col">
          <div class="card rounded-3 text-black">
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/user.png' %}" 
                        style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Nueva Contraseña</h4>
                    </div>

                    <form method="post" class="card">
                    {% csrf_token %}
                    
                    
                    {% for field in form %}
                                {{ field.label_tag }} 
                                {{ field }}
                                {% if field.errors %}
                                    <small>{{ field.errors|striptags  }}</small> 
                                {% endif %}
                        {% endfor %}
                    
                    
                        <div>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>

                </div>
       
              

            </div>
        </div>
    </div>
</div>
</div>

{% endblock contenido %}    