{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">

  <h1 class="display-4 fw-normal">Menus</h1>
  <!-- {% include 'includes/paginado.html' %} -->
  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">


    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="col-auto p-2">
        <label for="xlsrubos" >Rubros:</label>
        <input class="form-control" type="file" id='xlsrubos' name="xlsrubos">
      </div>

      <div class="col-auto p-2">
        <label for="xlsarticulos" >Articulos:</label>
        <input class="form-control" type="file" id='xlsarticulos' name="xlsarticulos">
      </div>
      
      <div class="col-auto p-2">
        <button type="submit" class="btn btn-primary mb-3">Subir</button>
      </div>

    </form>


  </nav>
</div>

{% endblock contenido %}