{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0" className="">
    <div id="preloader"></div>
  
    <main id="main">
        <section id="menu" class="menu">


<div class="row p-2">
    <div class="col">
        <a type="button" class="btn btn-success" href="{% url 'Articulos:importar' %}">Importar</a>
    </div>
</div><br>
<div class="card">
    <div class="card-header">
        Lista de productos
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cod.</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Rubro</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>

                {% for p in Articulos %}
                    <tr>
                        <th scope="row">{{p.id}}</th>
                        <td>{{p.codigo}}</td>
                        <td>
                            {% if p.menu %}
                            <input class="form-check-input" type="checkbox" value="" id="{{p.id}}" checked > 
                            {%else%}
                            <input class="form-check-input" type="checkbox" value="" id="{{p.id}}" > 
                            {% endif %}
                        </td>
                        <td>{{p.descripcion}}</td>
                        <td>${{p.precio}}</td>
                        <td>{{p.rubro}}</td>

                        <td>
                            <a href="{% url 'Articulos:editar' p.id %}" class="btn btn-outline-info">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'Articulos:borrar' p.id %}"class="btn btn-outline-danger" >
                              <i class="fa-solid fa-minus-square"></i>
                            </a>
                           

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'includes/paginado.html' %}
    </div>
</div>

</section>
    </main>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      className="bi bi-arrow-up-short"></i></a>



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script>


  <script src="{% static 'assets/js/scripts.js' %} "></script>

</body>
{% endblock contenido %}

